body{
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

.inactive{
    display: none;
}

/* DESKTOP SATATE */

.main-content{
    display: grid;
    place-items: center;
    background-color: #141519;
    height: 100vh;
    width: 100%;
}

.card-content{
    display: grid;
    color: white;
    background-color: #1f2630;
    height: 300px;
    width: 300px;
    border-radius: 16px;
    padding: 32px;
}

.card-content p{
    color: #717783;
    font-size: 15px;
}

.icon-star-content{
    display: grid;
    place-items: center;
    background-color: #272e38;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.icon-star-content img{
    width: 15px;
    height: 15px;
}

.ratio-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50%;
    margin-top: 12px;
}

.ratio-content kbd{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #666e79;
    width: 42px;
    height: 42px;
    background-color:#272e38;
    border-radius: 50%;
    cursor: pointer;
}

.ratio-content kbd:hover{
    background-color: white !important;
    color: #fc7613 !important;
}

.submit-button{
    cursor: pointer;
    color: white;
    margin-top: 20px;
    background-color:#fc7613 ;
    height: 32px; 
    border-color: transparent;
    border-radius: 10px;
}

.submit-button:hover{
    background-color: white;
    color: #fc7613;
}

/* THANK YOU VIEW */

.submited-state{
    display: none;
    display: grid;
    place-items: center;
    color: white;
    background-color: #1f2630;
    height: 300px;
    width: 300px;
    border-radius: 16px;
    padding: 32px;
}

.thankYou-icon p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:#fc7613;
    background-color: #262d37;
    height: 26px;
    border-radius: 10px;
}

.submited-state > p{
    text-align: center;
    color: #717783;
    margin-top: 0;
}